#### Python playground

In [1]:
import numpy as np
import pandas as pd
import os

print(np.__version__, pd.__version__)

os.get_exec_path()
os.getcwd()

1.13.1 0.20.3

'/Users/askming/GitHub/PythonDataScienceHandbook/notebooks'

In [8]:
A = np.array([1,2,3,3,4, 5]).reshape(2,3)
print(A)

B = pd.DataFrame(A)
print(B)

[[1 2 3]
 [3 4 5]]
   0  1  2
0  1  2  3
1  3  4  5

In [11]:
print(In)
print(len(Out))

['', 'import numpy as np\nimport pandas as pd', 'import numpy as np\nimport pandas as pd\n\nprint np.__version__', 'import numpy as np\nimport pandas as pd\n\nprint(np.__version__, pd.__version__)', 'A = np.array([1,2,3,3,4, 5], shape = (2,3))\nprint(A)', 'A = np.array([1,2,3,3,4, 5])\nprint(A)', 'A = np.array([1,2,3,3,4, 5]).reshape(2,3)\nprint(A)', 'A = np.array([1,2,3,3,4, 5]).reshape(2,3)\nprint(A)\n\nA = A.dtype({"name":(\'a\', \'b\', \'c\')})', 'A = np.array([1,2,3,3,4, 5]).reshape(2,3)\nprint(A)\n\nB = pd.DataFrame(A)\nprint(B)', 'Print(In)', 'print(In)', 'print(In)\nprint(len(Out))']
0

In [52]:
os.chdir("G:\My Drive\Portfolio\Esbriet\Publications\\2019 ATS\\2019ATS_analysis\INSPIRATION PLUS additional analysis\data cleaning instructions")
# os.getcwd()

ipf_meds = pd.read_csv('Ipf_meds_indication_DF.csv')

ipf_meds.columns
print(ipf_meds.shape)

unique_indication = ipf_meds['Indication'].unique()
print(unique_indication)
# len(unique_indication)

(128, 6)
[nan '/ild exacerbation vs decompensating chf'
 '? ild exacerbation vs decompensating chf'
 '?ild exacerbation vs decompensating chf'
 '?ild exacerbation vs decopensating chf' '?ild flare' '?mild ipf flare'
 'acute exacerbation' 'acute exacerbation of ipf' 'airway tight'
 'alveolar hemorrage/ild exacerbation' 'arthritis'
 'aveolar hemorrage/ild exacerbation' 'breathlessness on exertion'
 'chest infection' 'chronic hypoxy' 'comfort' 'conditioning' 'copd'
 'copd +/- mild ipf flare?' 'copd/ipf' 'cough' 'coughing'
 'decline in lung function' 'decreased o2 sats on exertion'
 'decreased o2 saturations'
 'decreased o2 saturations o/e and increased sob'
 'decreased o2 saturations on minimal activity'
 'decreased oxygen saturation on exertion' 'desaturation'
 'drecreased o2 saturations on exertion' 'dyspnea'
 'dyspnea decreased o2 sats on exertion'
 'dyspnea decreased o2 saturations' 'dyspnea decreased o2 saturations o/e'
 'dyspnea decreased o2 saturations on exertion' 'dyspnea increased'
 'dyspnea on exertion' 'dyspnea post pulmonary embolism'
 'dyspnea sleep apnea' 'dyspnea, acute exacerbation of ipf'
 'dyspnea. decreased o2 saturations'
 'dyspnea. decreased o2 saturations on exertion'
 'dyspnea/ decreased o2 sats on exertion'
 'dyspnea/ decreased o2 saturations '
 'dyspnea/ decreased o2 saturations on exertion'
 'dyspnea/ drcreased o2 saturation on exertion'
 'dyspnea/decreased o2 sats' 'dyspnea/decreased o2 sats on exertion'
 'dyspnea/decreased o2 saturations '
 'empirical treatmen of acute exacerbation'
 'empirical treatment of symptoms of acute exacerbations' 'exacerbation'
 'exacerbation ' 'exacerbation of ipf' 'fibrosis' 'gerd' 'gerd/cough'
 'hypoxemia' 'hypoxemmia' 'hypoxic respiratory failure'
 'idiopathic pulmonary fibrosis' 'idiopathic thrombocytopenia' 'iipf'
 'ild' 'ild exacerbation' 'ild flare' 'increase to 10 from 4-6'
 'increased cough' 'increased dyspnea' 'ipf' 'ipf '
 'ipf acute exacerbation' 'ipf desaturation' 'ipf dyspnea'
 'ipf exacerbation' 'ipf exacerbation ' 'ipf flare' 'ipf progression'
 'ipf, dyspnea' 'ipf/ sob' 'ipf/copd' 'ipr' 'low oxygenation'
 'lower respiratory tract infection' 'lung condition' 'lung disease'
 'lung infection' 'mild copd exacerbation' 'mild ild flare'
 'mild ipf flare' 'mild ipf flare with component of decompensating chf'
 'mild ipf flare with decompensating'
 'mild ipf flare with decompensating chf' 'o2 desaturation on exertion'
 'obstructive sleep apnea' 'pf increased cough' 'pneumonia'
 'possible exacerbation of chronic bronchitis' 'possible ild flare'
 'possible ipf flare +/- bronchial infection' 'possible mild ild flare'
 'possible mild ipf flare' 'possible respiratory infection'
 'preventative measures' 'probable mild ipf exacerbation' 'prophylactic'
 'prophylaxis' 'pulmonary fibrosis ' 'pulmonary suprainfection'
 'query mild ipf flare' 'resp.tract infection' 'respiratory infection'
 'respiratory tract infection' 'rhinitis' 'right sided heart failure'
 'sarcoidosis' 'short of breath' 'shortness of breath'
 'shortness of breath exacerbation' 'sob' 'sob/increased mucous'
 'steroid responsive disease' 'thrombocytopenia' 'to control phlegm'
 'upper resp. tract infection' 'upper respiratory tract infection'
 'wheeze']

In [56]:
pd.isnull(np.nan)
state = pd.Series({'CA':'California', 'TX': 'Texas'})
pop = pd.Series({'CA': 1e3, 'TX': None})
df = pd.DataFrame({'state':state,'pop':pop})
print(df)

df[pd.notnull(df['pop'])]
df[pd.isnull(df['pop'])]

df.dropna(axis = 0)
df.dropna(axis = 1)

df[3] = np.NaN
print(df)

DF = pd.DataFrame({'State': ['CA', 'TX'], 'Pop': [1234, 5678]})
DF

         state     pop
CA  California  1000.0
TX       Texas     NaN
         state     pop   3
CA  California  1000.0 NaN
TX       Texas     NaN NaN

  State   Pop
0    CA  1234
1    TX  5678

In [10]:
ls = np.linspace(-1, 11)
print(len(ls))
# np.linspace?

50

In [14]:
import pandas as pd
counts = pd.read_csv('FremontBridge.csv', index_col='Date', parse_dates=True)
weather = pd.read_csv('data/BicycleWeather.csv', index_col='DATE', parse_dates=True)

In [20]:
# counts.head()
counts.resample('d').sum()

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
Date
2002-12-03                           NaN                           NaN
2002-12-04                           NaN                           NaN
2002-12-05                           NaN                           NaN
2002-12-06                           NaN                           NaN
2002-12-07                           NaN                           NaN
2002-12-08                           NaN                           NaN
2002-12-09                           NaN                           NaN
2002-12-10                           NaN                           NaN
2002-12-11                           NaN                           NaN
2002-12-12                           NaN                           NaN
2002-12-13                           NaN                           NaN
2002-12-14                           NaN                           NaN
2002-12-15                           NaN                           NaN
2002-12-16                           NaN                           NaN
2002-12-17                           NaN                           NaN
2002-12-18                           NaN                           NaN
2002-12-19                           NaN                           NaN
2002-12-20                           NaN                           NaN
2002-12-21                           NaN                           NaN
2002-12-22                           NaN                           NaN
2002-12-23                           NaN                           NaN
2002-12-24                           NaN                           NaN
2002-12-25                           NaN                           NaN
2002-12-26                           NaN                           NaN
2002-12-27                           NaN                           NaN
2002-12-28                           NaN                           NaN
2002-12-29                           NaN                           NaN
2002-12-30                           NaN                           NaN
2002-12-31                           NaN                           NaN
2003-01-01                           NaN                           NaN
...                                  ...                           ...
2019-03-02                         757.0                         724.0
2019-03-03                         624.0                         649.0
2019-03-04                        1138.0                        1815.0
2019-03-05                        1185.0                        1869.0
2019-03-06                         829.0                        1418.0
2019-03-07                         555.0                         950.0
2019-03-08                         693.0                        1183.0
2019-03-09                         652.0                         677.0
2019-03-10                         738.0                         730.0
2019-03-11                        1078.0                        1689.0
2019-03-12                         829.0                        1380.0
2019-03-13                        1133.0                        1906.0
2019-03-14                        1186.0                        1894.0
2019-03-15                        1184.0                        1837.0
2019-03-16                         810.0                        1030.0
2019-03-17                        1036.0                        1198.0
2019-03-18                        1618.0                        2698.0
2019-03-19                        1897.0                        3053.0
2019-03-20                        1817.0                        3014.0
2019-03-21                        1444.0                        2535.0
2019-03-22                        1179.0                        1876.0
2019-03-23                         845.0                         974.0
2019-03-24                         817.0                         889.0
2019-03-25                        1114.0                        1843.0
2019-03-26                        1440.0                        2302.0
2019-03-27                        1451.0                        2339.0
2019-03-28                        1455.0                        2335.0
2019-03-29                        1420.0                        2168.0
2019-03-30                        1239.0                        1298.0
2019-03-31                        1134.0                        1230.0

[5963 rows x 2 columns]

In [22]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays('2012', '2016')
pd.Series(1, index=holidays, name='holiday')

2012-01-02    1
2012-01-16    1
2012-02-20    1
2012-05-28    1
2012-07-04    1
2012-09-03    1
2012-10-08    1
2012-11-12    1
2012-11-22    1
2012-12-25    1
2013-01-01    1
2013-01-21    1
2013-02-18    1
2013-05-27    1
2013-07-04    1
2013-09-02    1
2013-10-14    1
2013-11-11    1
2013-11-28    1
2013-12-25    1
2014-01-01    1
2014-01-20    1
2014-02-17    1
2014-05-26    1
2014-07-04    1
2014-09-01    1
2014-10-13    1
2014-11-11    1
2014-11-27    1
2014-12-25    1
2015-01-01    1
2015-01-19    1
2015-02-16    1
2015-05-25    1
2015-07-03    1
2015-09-07    1
2015-10-12    1
2015-11-11    1
2015-11-26    1
2015-12-25    1
2016-01-01    1
Name: holiday, dtype: int64

In [3]:
sklearn.datasets.make_moons?

Object `sklearn.datasets.make_moons` not found.